.header {
    background-color: blue;
    width: 100%;
    margin-bottom: 40px;
   
}
.wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 40px;
    box-sizing: border-box;
    list-style: none;
}
.link {
    color: white;
    text-decoration: none;
    
}