.container {
    max-width: 1160px;
    margin: 0 auto;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    // width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.30);;
   


    .modal-content {
        position: relative;
        
        // h2 {
        //     width: 312px;
        //     height: 22px;
        //     color: #ffffff;
        //     font-family: "Helvetica Neue";
        //     font-size: 22px;
        //     font-weight: 500;
        //     font-style: normal;
        //     letter-spacing: normal;
        //     line-height: 60px;
        //     text-align: left;
        //     font-style: normal;
        //     letter-spacing: normal;
        //     line-height: normal;
        //     padding-left: 30px;
        //     background-color: #d44637;
        // }

        // p {
        //     width: 433px;
        //     height: 45px;
        //     color: #ffffff;
        //     font-family: "Helvetica Neue";
        //     font-weight: 400;
        //     font-style: normal;
        //     letter-spacing: normal;
        //     line-height: 30px;
        //     text-align: center;
        //     margin: 0 auto;
        //     font-style: normal;
        //     letter-spacing: normal;
        //     line-height: normal;
        //     margin-bottom: 35px;
        // }
        
        .close {
            position: absolute;
            padding-top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 24px;
            width: 20px;
            height: 20px;
            color: #ffffff;
        }

        .modal-actions {
            display: flex;
            justify-content: center;
            gap: 10px;
            width: 516px;
           
            .appButton {
                background-color: #b3382c;
            }
        }
    }
}
